<div ng-controller="UserActions" id="mainbody" ng-init="getPendingConnections()">
		<div id="top-header">
				<div class="header-section first-child" layout="row" layout-align="center center">
					<input name="keywords" id="main-search-box" ng-model="searhUserValue" class="search-box" type="text" value="" placeholder="Search for people">
					<button name="search" value="Search" ng-click="routeToSerchUser()" class="search-button" type="submit">
						<span>Search</span>
					</button>
				</div>
		</div>
	  	<md-toolbar>
	    <h1 class="md-toolbar-tools">
	      <span></span>
  	      <md-button class="md-raised" ng-href="/#/home">Home</md-button>      
	      <md-button class="md-raised" ng-href="/#/connections">Connections</md-button>
	      <md-button class="md-raised" ng-href="/#/pendinguser">Pending Connections</md-button>
	      <md-button ng-controller="LoginController" class="md-raised logoutbutton" ng-click="logout()">Logout</md-button>
	    </h1>
	  	</md-toolbar>
	  	
		<div class="connectedUserarea" layout="column">
			<div layout="row">
				<div class="perUserConnections" layout="column" ng-repeat="connections in userconnectedmembers">
				<img src="../images/profile_photo.png" height="220" width="200" >
				<h2>{{connections.firstname}} {{connections.lastname}}<h2>
				<md-button class="md-raised md-warn" ng-click="connectUser(connections.username)">Connect</md-button>
				</div>
			<div>
		</div>
</div>
